@forward '../../public/assets/css/bootstrap.min.css'; 
@forward '../../public/assets/scss/main.scss';


// Video modal style 
.video-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9); 
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-modal-container {
  width: 90%;
  max-width: 1200px; 
  position: relative;
}

.video-modal-iframe {
  width: 100%;
  height: 70vh;
  min-height: 500px;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.video-modal-close {
  position: absolute;
  top: -50px;
  right: 0;
  color: white;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.video-modal-close:hover {
  transform: scale(1.2);
}

/* Click outside to close */
.video-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}